/* this part will be used for the body to make style the body and design it  */
body{
  width: 95%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #FF4500;
  align-content: center;
}
/* to design the game title */
#gametitle{
  background-color:#FF8300;
}

h1{
  text-align: center;
  font-family: sans-serif;
  color: black;
}

#aboutme{
  background-color: #B7AC44;
  width:50%;
}

h2{
  font-size: 30px;
  font-family: sans-serif;
  color: #DF362D;
  text-align: center;
}

p{
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}
/* design my picture */
#portrait{
	width: 50%;
	float: right;
	text-align: center;
}

img{
  border: solid;
  border-color: #B7AC44;
  width: 50%;
}

#mygames{
  background-color: #B7AC44;
  width:50%;
}

h3{
  font-size: 30px;
  color: #DF362D;
  font-family: sans-serif;
  text-align: center;
}
/* hover to style the links in the website and to design them in the way that suits you */
#mygames a{
  text-decoration: none;
  color: purple;
}

#mygames a:hover{
  color: grey;
}

#games {
  font-family:sans-serif;
}

ol {
  font-size: 25px;
  font-family: sans-serif;
}

#aboutme a{
  text-decoration: none;
  color: blue;
  font-style: oblique;
  font-family: sans-serif;
}
/* this allows the website to be responsive and makes the website compatible with devices */
@media screen and (max-width: 1000px) {
  #portrait, #aboutme, #mygames {
    width: 100%;
    float: none;
  }
}
