/* this part will be used for the body to make style the body and design it  */
body{
  width: 95%;
  padding: 0;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: purple;
}
/* class iused to design the template of the title */
div.titlename{
  background-color: #0E050F;
}

h1{
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-style: oblique;
}
/* image formatting */
#menu{
  float: right;
  width: 35%;
}
/* design of text area of the game explanation */
div.explanation{
  background-color: #170B3B;
  width: 50%;
}

h2{
  color: #9388A2;
  font-family: sans-serif;
  font-size: 30px;
}

#p1{
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}

#gameplay{
  width: 35%;
}
/* class used to design text area of why i like the game */
div.reason{
  float: right;
  width: 50%;
  background-color:  #170B3B;
  margin-bottom: 1em;
}

h3{
  color: #9388A2;
  font-size: 30px;
  font-family: sans-serif;
}

#p2{
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}
/* desing of the text area of contact information */
div.theend{
  background-color: black;
  clear: both;
}

h4{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#p3{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
/* button position */
#button2{
  float: right;
}
/* makes the page responsive */
@media screen and (max-width: 1000px) {
  #menu, div.explanation, #gameplay, div.reason {
    width: 100%;
    float: none;
  }
}
