body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #FF4500;
}
#gametitle{
  background-color:#FF8300;
}
h1{
  text-align: center;
  font-family: sans-serif;
  color: black;
}
#aboutme{
  background-color: #B7AC44;
  width:50%;
}
h2{
  font-size: 30px;
  font-family: sans-serif;
  color: #DF362D;
  text-align: center;
}
p{
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}
img{
  float: right;
  border: solid;
  border-color: #B7AC44;
}
#mygames{
  background-color: #B7AC44;
  width:50%;
}
h3{
  font-size: 30px;
  color: #DF362D;
  font-family: sans-serif;
  text-align: center;
}
#mygames a{
  text-decoration: none;
  color: purple;
}
#mygames a:hover{
  color: grey;
}

#games {
  font-family:sans-serif;

}
ol {
  font-size: 25px;
  font-family: sans-serif;
}
#aboutme a{
  text-decoration: none;
  color: blue;
  font-style: oblique;
  font-family: sans-serif;
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .column {
    width: 100%;
  }
}
